# top-most EditorConfig file
root = true

# Default config
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
max_line_length = 120
trim_trailing_whitespace = true
insert_final_newline = true

[*.go]
indent_style = tab

[*.{c,h,cpp,hpp,json,yml,yaml}]
indent_size = 2

[Makefile]
indent_style = tab

# Git commit message
[COMMIT_EDITMSG]
max_line_length = 72

[*.patch]
trim_trailing_whitespace = false
insert_final_newline = false
