[tool.ruff]
line-length = 120
target-version = "py312"

[tool.ruff.lint]
select = [
    "ALL", # include all the rules, including new ones
]
ignore = [
    #### Modules
    # Example:
    # "ANN", # flake8-annotations

    #### specific rules
    "D203", # one blank line before class (incompatible with D211)
    "D213", # multi line summary second line (incompatible with D212)
    "INP001", # implicit namespace package
    # "PTH123", # use `Path.open()` instead of `open()`
    "TD002", # missing TODO author

    # Rules incompatible with the formatter
    "COM812", # missing trailing comma
    "ISC001", # single line implicit string concatenation
]
